/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.justify-2 {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.justify {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.align-items {
  display: inline-block;
  vertical-align: middle; }

.relative {
  position: relative; }

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: block; }

@font-face {
  font-family: 'MontserratBold';
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg"); }

@font-face {
  font-family: 'MontserratRegular';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg"); }

@font-face {
  font-family: 'PTSerifRegular';
  src: url("../fonts/PTSerif-Regular.eot");
  src: url("../fonts/PTSerif-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerif-Regular.woff2") format("woff2"), url("../fonts/PTSerif-Regular.woff") format("woff"), url("../fonts/PTSerif-Regular.ttf") format("truetype"), url("../fonts/PTSerif-Regular.svg#PTSerif-Regular") format("svg"); }

.section-1 {
  background-image: url(../img/bg-img.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }
  .section-1 .black {
    background-color: rgba(67, 71, 79, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh; }
    .section-1 .black .container .nav-header {
      padding-top: 55px; }
      .section-1 .black .container .nav-header .logo-h1 {
        font-family: "MontserratRegular";
        font-size: 20px;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 10px; }
      .section-1 .black .container .nav-header .navigation .navigation-ul .navigation-li {
        font-family: "MontserratRegular";
        font-size: 15px;
        color: #ffffff;
        text-transform: uppercase;
        padding: 0 10px; }
      .section-1 .black .container .nav-header .social-ul .social-li {
        font-size: 15px;
        color: #ffffff;
        padding-right: 35px; }
      .section-1 .black .container .nav-header .social-ul .social-li:last-child {
        padding-right: 0px; }
    .section-1 .black .container .article-section-1 {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .section-1 .black .container .article-section-1 .article-section-1-h1 {
        font-family: "MontserratRegular";
        font-size: 52px;
        color: #ffffff;
        width: 455px;
        text-align: center;
        line-height: 60px;
        font-weight: bold; }
      .section-1 .black .container .article-section-1 .article-section-1-p {
        font-family: "PTSerifRegular";
        font-size: 20px;
        color: #ffffff;
        width: 370px;
        text-align: center;
        line-height: 30px;
        padding: 30px 0 0 70px; }

.section-2 {
  background-color: #43474f;
  padding: 55px 0; }
  .section-2 .form-1 form input {
    background-color: #585a5c;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 255px;
    height: 40px;
    padding: 15px;
    font-size: 14px;
    font-family: "MontserratBold";
    color: #ffffff; }
  .section-2 .form-1 form ::-webkit-input-placeholder {
    font-size: 14px;
    font-family: "MontserratBold";
    color: #ffffff; }
  .section-2 .form-1 .form-1-select {
    width: 520px;
    height: 40px;
    padding-left: 15px;
    border: none;
    outline: none;
    background-color: #585a5c;
    border-radius: 10px;
    font-size: 14px;
    font-family: "MontserratBold";
    color: #ffffff; }
  .section-2 .form-1 .btn-1 {
    background-color: #2e71f2;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 160px;
    height: 40px;
    color: #ffffff;
    font-size: 14px;
    font-family: "MontserratBold";
    -webkit-transition: all .3s linear .3s;
    transition: all .3s linear .3s;
    cursor: pointer; }
    .section-2 .form-1 .btn-1:hover {
      background-color: #0057ff; }
