@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
}
@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
}
@font-face {
    font-family: 'PTSerifRegular';
    src: url('../fonts/PTSerif-Regular.eot');
    src: url('../fonts/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PTSerif-Regular.woff2') format('woff2'),
        url('../fonts/PTSerif-Regular.woff') format('woff'),
        url('../fonts/PTSerif-Regular.ttf') format('truetype'),
        url('../fonts/PTSerif-Regular.svg#PTSerif-Regular') format('svg');
}