@media only screen and (max-width: 1024px){
    .container{
        padding-right: 20px;
        padding-left: 20px;
    }
    .section-1{
        .black{
            .container{
                .article-section-1{
                    .article-section-1-h1{
                        font-size: 46px;
                    }
                    .article-section-1-p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .section-2{
        .form-1{
            justify-content: space-around;
            form{
                input{
                    width: em(200)
                }
            }
            .form-1-select{
                width: em(350)
            }
        }
    }
    .section-3{
        .heart-article{
            .heart-article-h1{
                font-size: em(45)
            }
            .heart-article-p{
                font-size: 16px;
                width: 345px;
                margin-left: 300px;
            }
        }
        .category-wrapper{
            // justify-content: space-evenly;
        }
    }
    .section-4{
        .potential-h1{
            font-size: 46px;
        }
        .potential-p{
            font-size: 16px;
            width: 435px;
        }
    }
    .section-5{
        .liberal-wrapper{
            justify-content: space-around;
            .liberal-h1{
                font-size: 46px;
            }
            .liberal-p{
                font-size: 16px;
                width: 410px;
            }
        }  
    }
    .section-6{
        .feauture-wrapper{
            justify-content: space-around;
            .feauture-h1{
                font-size: 46px;
            }
            .feauture-p{
                font-size: 16px;
                width: 410px;
            }
        }
    }
    .section-7{
        .section-7-title{
            .section-7-h1{
                font-size: 46px;
            }
            .section-7-p{
                font-size: 16px;
            }   
            .title-wrapper{
                justify-content: space-around;
            }
        }
    }
    .section-8{
        .program-wrapper{
            .program-h1{
                font-size: 46px;
            }
            .program-p{
                font-size: em(18);
            }
        }
    }
}
// @media only screen and (max-width: 980px){
//     .section-7{
//         .section-7-title{
//             .section-7-h1{
//                 font-size: 35px;
//             }
//             .title-wrapper{
//                 flex-wrap: wrap;
//                 .title-box-p{
//                     padding-bottom: 20px;
//                 }  
//             }
//         }
//     }
// }
