@media screen and (max-width: 1024px){
    .container{
        padding-right: 20px;
        padding-left: 20px;
    }
    .section-1{
        .black{
            .container{
                .article-section-1{
                    .article-section-1-h1{
                        font-size: 48px;
                    }
                }
            }
        }
    }
    .section-2{
        .form-1{
            form{
                input{
                    width: em(250);
                }
            }
            .form-1-select{
                width: em(480);
            }
        }
    }
}

@media screen and (max-width: 991px){
    .section-3{
        .heart-article{
            .heart-article-h1{
               font-size: em(48); 
            }
        }
        .category-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    .section-4{
        .potential-h1{
            font-size: 48px;
        }
    }
    .section-7{
        .section-7-title{
            .section-7-h1{
                font-size: 48px;
            }
        }
    }
    .section-8{
        .program-wrapper{
            .program-h1{
                font-size: em(48);
            }
        }
        .form-subscribe{
            form{
                padding-top: 55px;
                input{
                    width: em(300);
                }
            }
        }
        .btn-4{
            width: em(140);
            margin-top: 55px;
        }
    }
}


@media screen and (max-width: 769px){
    .section-1{
        .black{
            .container{
                .nav-header{
                    .burger{
                        display: block;
                    }
                    .navigation{
                        position: absolute;
                        width: 20%;
                        height: 175px;
                        top: 100px;
                        left: -100%;
                        background: rgba(0,0,0,.3);
                        transition: .6s linear;
                        z-index: 3;
                        &.active{
                            display: block;
                            left: 0;
                        }
                        .navigation-ul{
                            display: block;
                            margin-top: 10px;
                            .navigation-li{ 
                                display: block;
                                text-align: left; 
                            }
                        }
                    }
                }
                .article-section-1{
                    .article-section-1-h1{
                        font-size: 42px;
                    }
                }
            }
        }
    }
    .section-2{
        .form-1{
            justify-content: space-around;
            form{
                input{
                    width: em(200);
                }
            }
            .form-1-select{
                width: em(300);
            }
        }
    }
    .section-3{
        .heart-article{
            .heart-article-h1{
               font-size: em(42); 
            }
            .heart-article-p{
                font-size: 18px;
            }
        }
    }
    .section-4{
        .potential-wrapper{
            display: flex;
            flex-wrap: wrap-reverse;
            // flex-direction: column-reverse;
            .potential-h1{
                font-size: 44px;
                padding-top: 40px;
                // text-align: center;
            }
            .potential-p{
                // text-align: center;
            }
        }
    }
    .section-5{
        .liberal-wrapper{
            display: flex; 
            flex-wrap: wrap;
            .liberal-h1{
                font-size: 44px;
                padding-top: 20px;
            }
        }
    }
    .section-6{
        .feauture-wrapper{
            display: flex;
            flex-wrap: wrap-reverse;
            .feauture-h1{
                font-size: 44px;
                padding-top: 20px;
            }
        }
    }
    .section-7{
        .section-7-title{
            .section-7-h1{
                font-size: 40px;
            }
            .title-wrapper{
                display: flex;
                // flex-wrap: wrap;
                text-align: center;
                flex-direction: column;
                .title-box{
                    text-align: center;
                }
            }
            .btn-3{
                margin-left: 280px;
            }
        }
    }
    .section-9{
        .footer-content{
            flex-wrap: wrap;
            .social-icon-content{
                .social-ul{
                    .social-li:nth-child(1){
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 540px){
    .section-1{
        .black{
            .container{
                .nav-header{
                    .burger{
                        display: block;
                    }
                    .navigation{
                        position: absolute;
                        width: 30%;
                        height: 175px;
                        top: 100px;
                        left: -100%;
                        background: rgba(0,0,0,.3);
                        transition: .6s linear;
                        z-index: 3;
                        &.active{
                            display: block;
                            left: 0;
                        }
                        .navigation-ul{
                            display: block;
                            margin-top: 10px;
                            .navigation-li{ 
                                display: block;
                                text-align: left; 
                            }
                        }
                    }
                }
                .article-section-1{
                    .article-section-1-h1{
                        font-size: 28px;
                        line-height: 1;
                    }
                    .article-section-1-p{
                        font-size: 16px;
                        padding-top: 20px;
                    }
                }
            }
        }
    }
    .section-2{
        .form-1{
            justify-content: space-around;
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            form{
                padding-bottom: 20px;
                input{
                    width: em(300);
                }
            }
            .form-1-select{
                width: em(300);
            }
            .btn-1{
                margin-top: 20px;
                width: em(300)
            }
        }
    }
    .section-3{
        .heart-article{
            .heart-article-h1{
               font-size: em(32); 
            }
            .heart-article-p{
                font-size: 16px;
            }
        }
    }
    .section-4{
        display: none;
        .potential-wrapper{
            display: flex;
            flex-wrap: wrap-reverse;
            // flex-direction: column-reverse;
            .potential-h1{
                font-size: 38px;
                padding-top: 40px;
                // text-align: center;
            }
            .potential-p{
                font-size: 16px;
            }
        }
    }
    .section-5{
        .liberal-wrapper{
            display: flex; 
            flex-wrap: wrap;
            .liberal-h1{
                font-size: 38px;
                padding-top: 20px;
            }
            .liberal-p{
                font-size: 16px;
            }
        }
    }
    .section-6{
        .feauture-wrapper{
            display: flex;
            flex-wrap: wrap-reverse;
            .feauture-h1{
                font-size: 38px;
                padding-top: 20px;
            }
            .feautured-p{
                font-size: 16px;
            }
        }
    }
    .section-7{
        .section-7-title{
            .section-7-h1{
                font-size: 36px;
            }
            .section-7-p{
                font-size: 16px;
            }
            .title-wrapper{
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                flex-direction: row;
                .title-box{
                    text-align: center;
                }
            }
            .btn-3{
                margin-left: 0px;
            }
        }
    }
    .section-8{
        .program-wrapper{
            .program-h1{
                font-size: em(36);
            }
        }
        .form-wrapper{
            display: flex;
            flex-direction: column;
            .form-subscribe{
                form{
                    padding-top: 55px;
                    input{
                        width: em(200);
                    }
                }
            }
            .btn-4{
                width: em(230);
                margin-top: 3px;
            }
        }
    }
    .section-9{
        .footer-content{
            flex-wrap: wrap;
            .address-box{
                margin-top: 20px;
            }
            .social-icon-content{
                margin-top: 20px;
                .social-ul{
                    .social-li:nth-child(1){
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}