.section-1{
    background-image: url(../img/bg-img.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    .black{
        // background-color: #494b54;
        background-color: rgba(67,71,79,0.5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        // opacity: 0.5;
        .container{
            .nav-header{
                padding: 35px;
                position: fixed;
                width: 100%;
                left: 0;
                top: 0;
                z-index: 999;
                background: transparent;
                transition: .3s;
                .logo-h1{
                 font-family: $MontBold;
                 font-size: 20px;
                 color: $White;
                 text-transform: uppercase;
                 letter-spacing: 10px;
                 border: 1px solid $Blue-2;
                 padding: 10px;
                 transition: all .3s linear;
                    &:hover{
                        color: $Blue;
                        // border-bottom: 1px solid $Blue-2;
                    }
                }
                .navigation{
                    .navigation-ul{
                        .navigation-li{
                            font-family: $MontBold;
                            font-size: 15px;
                            color: $White;
                            text-transform: uppercase;
                            padding: 10px 10px;
                            transition: all .3s linear;
                            border: 1px solid transparent;
                            &:hover{
                                color: $Blue;
                                border: 1px solid $Blue-2;
                            }
                        }
                    }
                }
                .social-ul{
                    .social-li{
                        font-size: 20px;
                        color: $White;
                        padding-right: 35px;
                        transition: all .3s linear;
                        // padding: 10px;
                        // border: 1px solid transparent;
                        &:hover{
                            color: $Blue;
                            // border-bottom: 1px solid $Blue-2;
                        }
                    }
                    .social-li:last-child{
                        padding-right: 0px;
                    }
                }
                .burger{
                    font-size: 20px;
                    color: $White;
                    transition: all .3s linear;
                    display: none;
                    &:hover{
                        color: $Blue;
                    }
                }
            } 
          .article-section-1{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            .article-section-1-h1{
                font-family: $MontBold;
                font-size: 52px;
                color: $White;
                // width: 473px;
                text-align: center;
                line-height: 60px;
                font-weight: bold;
            }
            .article-section-1-p{
                font-family: $SerifRegular;
                font-size: 20px;
                color: $White;
                // width: 370px;
                text-align: center;
                line-height: 30px;
                padding-top: 30px;
            }
          }   
        }
    } 
}