.section-2{
    background-color: $Black-2;
    padding: 55px 0;
    .form-1{
        form{
            input{
                background-color: $Black-3;
                border: none;
                outline: none;
                border-radius: 10px;
                width: 255px;
                height: 40px;
                padding: 15px;
                font-size: 14px;
                font-family: $MontRegular;
                color: $White;  
            }
            ::-webkit-input-placeholder{
                font-size: 14px;
                font-family: $MontRegular;
                color: $White;
            }
        }
        .form-1-select{
            width: 520px;
            height: 40px;
            padding-left: 15px;
            border: none;
            outline: none;
            background-color: $Black-3;
            border-radius: 10px;
            font-size: 14px;
            font-family: $MontRegular;
            color: $White;
        }
        .btn-1{
            background-color: $Blue-2;
            border: none;
            outline: none;
            border-radius: 10px;
            width: 160px;
            height: 40px;
            color: $White;
            font-size: 14px;
            font-family: $MontRegular;
            transition: all .3s linear .3s;
            cursor: pointer;
            &:hover{
                background-color: $Blue;
            } 
        }
    }
}