// BASE CLASSES
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.d-flex{
    display: flex;
}
.justify-2{
    justify-content: space-evenly;
    align-items: center;
}
.justify{
    justify-content: space-between;
    align-items: center;
}
.align-items{
    display: inline-block;
    vertical-align: middle;
}
.relative{
    position: relative;
}
.container{
    max-width: 1000px;
	width: 100%;
	margin: 0 auto;
    display: block;
    padding: 0 40px;
}