// FONTS
$MontRegular: 'MontserratRegular';
$MontBold: 'MontserratBold';
$SerifRegular: 'PTSerifRegular'; 

// COLOR
$White: #ffffff;
$White-2: #f9f9f9;
$White-3: #d7d7d7;
$Black: #000000;
$Black-2: #43474f;
$Black-3: #585a5c;
$Black-4: #3b3d40;
$Black-5: #656b6f;
$Blue: #0057ff;
$Blue-2: #2e71f2;