// FONTS
$MontRegular: 'MontserratBold';
$MontBold: 'MontserratRegular';
$SerifRegular: 'PTSerifRegular'; 

// COLOR
$White: #ffffff;
$Black: #000000;
$Black-2: #43474f;
$Black-3: #585a5c;
$Blue: #0057ff;
$Blue-2: #2e71f2;